.home-content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}
.home-content-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.home-content-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 1rem;
  border: 2px solid black;
  flex: 1 1 calc(50% - 1rem);
  box-sizing: border-box;
}
.home-content-blocks h2 {
  position: absolute;
  display: flex;
  background-color: rgba(49, 98, 57, 0.85);
  width: 100%;
  justify-content: center;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 0;
  z-index: 2;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 0 white;
  font-size: 32px;
  left: 0;
  right: 0;
}
.home-content-blocks img {
  display: block;
}
.nav-lower-container img {
  width: 100%;
  position: relative;
  z-index: 1;
}
/*Styling for smaller devices*/
@media (max-width: 1000px) {
  .home-content-blocks {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0 auto;
    max-width: 550px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .home-content-blocks img {
    width: 100%;
    height: auto;
  }
  .home-content-blocks h2 {
    font-size: 24px;
  }
  .text h1 {
    margin: 1.5rem;
  }
}
